name: Android CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11.0.3
      - name: Build with Gradle
        run: ./gradlew build
